*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A0A0A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.nav-bar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 1.5rem 3rem 2rem;
    
}
.nav-marque{
    text-transform: uppercase;
}
.nav-links ul{
    display: flex;
    gap: 1.2em;
    list-style: none;
    a{
        text-decoration: none;
        color: white;
    }
}
.hero{
    margin: 0 2em 1em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.presentation{
    color: white;
    width: 100%;
    display: flex;
    column-gap: 4em;
}
 .h2{
        text-transform: uppercase;
        margin-bottom: 0.8rem;
        font-size: 3rem;
    }
.me{
    width: 50%;
    padding: 1em;
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    
    p{
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.4;
        font-size: 1.1rem;
    }

    
    button{
        position: relative;
        display: inline-block;
        padding: 0.5rem;
        border-radius: 2rem;
        width: 35%;
        border: none;
        background-color: #D3E97A;
        text-transform: uppercase;
        font-weight: bold;
        span{
            background-color: black;
            border: 1px solid;
            border-radius: 50%;
            height: 20%;
            width: 3%;
            position: absolute;
            right:10%;
            top: 40%;
    }
    }
    a{
        padding: 0.5em;
        border-radius: 50%;
        margin-left: 0.4rem;
        color: #D3E97A;
        background-color:rgba(34, 34, 34, 1);
    }
    
    .btn-links{
        width: 100%;
        margin-top: 1rem;
    }
}
.picture{
    width: 50%;
    img{
        width: 95%;
        height: 90%;
    }
}
.projet{
    margin-left: 2rem;
    h2{
        text-transform: uppercase;
        font-size: 2.2em;
        margin-bottom: 0.6em;
    }
    p{
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.3;
    }
}
.fa-arrow-right{
    transform: rotate(-50deg);
}
.container-grid{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
    row-gap: 6em;
    column-gap: 1em;
    grid-template-areas: "projet1 projet2""projet3 projet4""projet5 projet6";
    .capture{
        background-color: #1A1A1A;
        padding: 5%;
        display: grid;
        place-items: center;
        border-radius: 5%;
         img{
            width: 70%;
            height: 80%;
            border-radius: 3%;
        }
    }
    .projet1{
        grid-area: projet1;    
    }
     .projet2{
        grid-area: projet2;
        h3{
            margin-bottom: 1rem;
        } 
        ul{
            display: flex;
            list-style: none;
            gap: 0.6rem;
            margin-top: 1em;
        }
        a{
            color: #D3E97A;
        }
    }
     .projet3{
        grid-area: projet3;
    }
     .projet4{
        grid-area: projet4;
    }
     .projet5{
        grid-area: projet5;
    }
     .projet6{
        grid-area: projet6;
    }
.info-projet{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1em;
    color: white;
}
}
.propos{
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    grid-template-areas: "moi-header moi-contenu";
    .moi-propos{
        grid-area: moi-header;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
        text-align: end;
        padding-right: 1.5rem;
    }
    .moi-contenu{
        grid-area: moi-contenu;
        line-height: 1.5;
        p:nth-child(1){
            font-size: 1.6em;
            margin-bottom: 0.6em;
        }
        .info-moi{
            color: rgba(255, 255, 255, 0.6);

        }
        a{
            color: #D3E97A;
            text-transform: uppercase;
           margin-top: 2rem; 
        }
    }
}
footer{
    margin: 3em 1em 1em;
    display: flex;
    gap: 1em;
    line-height: 2;
    p, label{
        color: rgba(255, 255, 255, 0.8);
    }
    .mail-link, .contact{
        width: 50%;
        form{
            display:flex;
            flex-direction: column;
            gap: 0.5em;
        }
        input[type=submit]{
            width: 20%;
            border-radius: 0.5em;
            border: none;
            color: black;
            background-color: #D3E97A;
        }
        textarea, input{
            width: 90%;
            padding: 0.6em;
        }
        textarea{
            height: 8em;
        }
    }
    
    
}